/* :: 8.0 Popular Products Area CSS */
.event-page .single-product-wrapper {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  overflow: hidden;
  border:solid silver .3px;
  padding: 0px;
  background-color: #ffffff;
  margin-left: 10px;
  width: 32%; }
  @media only screen and (max-width: 767px) {
    .event-page  .single-product-wrapper{
      width : 100%; } }
  
  .event-page  .single-product-wrapper .product-img {
    position: relative;
    z-index: 1;
    overflow: hidden; }
    .event-page  .single-product-wrapper .product-img img {
      width: 100%;
      height: 350px;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .event-page  .single-product-wrapper .product-img .hover-img {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      opacity: 0;
      visibility: hidden; }
    .event-page  .single-product-wrapper .product-img .product-badge {
      height: 25px;
      background-color: #000000;
      color: #ffffff;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      font-size: 12px;
      padding: 0 10px;
      display: inline-block;
      line-height: 25px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10; }
      .event-page  .single-product-wrapper .product-img .product-badge.offer-badge {
        background-color: #dc0345; }
      .event-page  .single-product-wrapper .product-img .product-badge.new-badge {
        background-color: #0315ff; }
    .event-page  .single-product-wrapper .product-img .product-group a {
      position: absolute;
      height: 25px;
      width: 45px;
      font-size: 14px;
      color: #ccc;
      top: 20px;
      right: 20px;
      z-index: 10;
      line-height: 25px;
      background-color: #ffffff;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      text-align: center;
      opacity: 0;
      visibility: hidden; }
      .event-page  .single-product-wrapper .product-img .product-group a.active {
        opacity: 1;
        visibility: visible; }
  .event-page  .single-product-wrapper .product-description {
    position: relative;
    z-index: 1;
    padding: 20px;
    padding-top: 25px; }
    .event-page  .single-product-wrapper .product-description span {
      font-size: 10px;
      text-transform: uppercase;
      color: #787878;
      margin-bottom: 15px;
      letter-spacing: 0.75px;
      font-weight: 600; }
    .event-page  .single-product-wrapper .product-description h6 {
      color: #222222;
      margin-bottom: 5px; }
    .event-page  .single-product-wrapper .product-description p {
      margin-bottom: 0;
      font-size: 14px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 700;
      color: #000000; }
      .event-page  .single-product-wrapper .product-description p span {
        font-size: 14px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        color: #aaaaaa;
        margin-right: 10px;
        text-decoration: line-through; }
    .event-page  .single-product-wrapper .product-description .hover-content {
      position: absolute;
      width: calc(100% - 40px);
      top: -70px;
      left: 20px;
      right: 20px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      .event-page  .single-product-wrapper .product-description .hover-content .essence-btn {
        width: 100%; }
  .event-page  .single-product-wrapper .favme {
    cursor: pointer;
    color: #ccc; }
    .event-page  .single-product-wrapper .favme.active {
      color: #dc0345 !important; }
    .event-page .single-product-wrapper .favme.is_animating {
      animation: favme-anime .5s; }
  .event-page .single-product-wrapper:hover .product-img .hover-img {
    opacity: 1;
    visibility: visible; }
  .event-page .single-product-wrapper:hover .product-img .product-group a {
    opacity: 1;
    visibility: visible; }
  .event-page .single-product-wrapper:hover .hover-content {
    opacity: 1;
    visibility: visible; }

/*navbar 2 categories*/

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top:45px;
  
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  
}
  
 

    @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
    @import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
    body {
    /*padding: 60px 0px;*/
    background-color: rgb(220, 220, 220);
  }
    
    .event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
  }
  .event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  .event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
  }
  .event-list > li > time > span {
    display: none;
  }
  .event-list > li > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
  }
  .event-list > li time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
  }
  .event-list > li > img {
    width: 100%;
  }
  .event-list > li > .info {
    padding-top: 5px;
    text-align: center;
  }
  .event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
  }
  .event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
  }
  .event-list > li > .info > ul,
  .event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .event-list > li > .social > ul {
    margin: 0px;
  }
  .event-list > li > .info > ul > li,
  .event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
        padding: 3px 0px;
  }
    .event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
  } 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
  } 
  .event-list > li > .info > ul > li:hover,
  .event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
  }
  .facebook a,
  .twitter a,
  .google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
  }
  .twitter a {
    color: rgb(79, 213, 248) !important;
  }
  .google-plus a {
    color: rgb(221, 75, 57) !important;
  }
  .facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
  }
  .twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
  }
  .google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
  }

  @media (min-width: 768px) {
    .event-list > li {
      position: relative;
      display: block;
      width: 100%;
      height: 120px;
      padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
      display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 120px;
      float: left;
    }
    .event-list > li > .info {
      background-color: rgb(245, 245, 245);
      overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 120px;
      height: 120px;
      padding: 0px;
      margin: 0px;
    }
    .event-list > li > .info {
      position: relative;
      height: 120px;
      text-align: left;
      padding-right: 40px;
    } 
    .event-list > li > .info > .title, 
    .event-list > li > .info > .desc {
      padding: 0px 10px;
    }
    .event-list > li > .info > ul {
      position: absolute;
      left: 0px;
      bottom: 0px;
    }
    .event-list > li > .social {
      position: absolute;
      top: 0px;
      right: 0px;
      display: block;
      width: 40px;
    }
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
    .event-list > li > .social > ul > li {      
      display: block;
            padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
      display: block;
      width: 40px;
      padding: 10px 0px 9px;
    }
  }